@model IEnumerable<WebApplication2.Models.Prato>

@{
    ViewBag.Title = "Index";
}
<p>&emsp;</p>
<h2>PRATOS</h2>
<p>&emsp;</p>
<a href="~/Pratos/Create"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Cadastrar novo Prato</button></a>
<p>&emsp;</p>
<br />
<table class="table">
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>
            Restaurante
        </th>
        <th>
            Prato
        </th>
        <th>
            Preço
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/Pratos/Delete/"><button class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button></a>
            @Html.ActionLink("Delete", "Delete", new { id = item.PratoID })
        </td>
        <td>
            <a href="~/Pratos/Edit/"><button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.PratoID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rest.RestauranteNome)      
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PratoNome)        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PratoPreco)
        </td>
    </tr>
}

</table>
